@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;700&family=Manrope:wght@400;600;700&display=swap');
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/500.css';
@import '@fontsource/space-grotesk/600.css';
@import '@fontsource/space-grotesk/700.css';

@font-face {
  font-family: 'TheNightWatch';
  src: url('/fonts/TheNightWatch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
